@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600");

body {
  background-color: #20232a;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.title {
  background-color: rgba(40, 44, 52, 0.6);
  font-family: "Montserrat";
  left: 50%;
  padding: 2rem;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  z-index: 10;
  box-shadow: 0 0 5rem #43853d;
}

.title img.graphql {
  width: 100px;
  margin: 1rem 1.8rem;
  animation: rotate infinite 4s linear;
}

.title img.node-right {
  width: 100px;
  margin: 1rem 1rem;
  -webkit-animation: slide-right 2s infinite
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 1s infinite cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.title img.node-left {
  width: 100px;
  margin: 1rem 1rem;
  -webkit-animation: slide-left infinite 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-left infinite 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0) scale(1);
  }
  50% {
    -webkit-transform: translateX(-50);
    transform: translateX(-50) scale(0.5);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px) scale(0.1);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0) scale(1);
  }
  50% {
    -webkit-transform: translateX(-50);
    transform: translateX(-50) scale(0.5);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px) scale(0.1);
  }
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0) scale(1);
  }
  50% {
    -webkit-transform: translateX(50);
    transform: translateX(50) scale(0.5);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px) scale(0.1);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0) scale(1);
  }
  50% {
    -webkit-transform: translateX(50);
    transform: translateX(50) scale(0.5);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px) scale(0.1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(365deg);
  }
}

.title h1 {
  color: #eeeeee;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  padding: 0;
  position: relative;
  text-shadow: 0 0 30px #000155;
}

.title h3 {
  background: rgba(229, 53, 171, 0.3);

  background: -moz-linear-gradient(
    90deg,
    rgba(229, 53, 171, 0.502) 0%,
    rgba(49, 120, 198, 0.502) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    rgba(229, 53, 171, 0.502) 0%,
    rgba(49, 120, 198, 0.502) 100%
  );

  background: linear-gradient(
    90deg,
    rgba(229, 53, 171, 0.502) 0%,
    rgba(49, 120, 198, 0.502) 100%
  );

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e535ab",endColorstr="#5cab46",GradientType=1);

  border-radius: 6px;
  color: snow;
  display: inline-block;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
  line-height: 1;
  margin: 1rem 0;
  padding: 1rem;
  text-shadow: 0 0 30px #000155;
}
